@use 'variables' as var;
@import '../fonts/Roboto.scss';

html {
  background: #202020;
  color: #dbdbdb;
}

html * {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  overflow-x: hidden;
}

a {
  color: var.$link;
  &:hover {
    color: var.$linkhover;
  }
}